*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input:focus {
  outline: none;
  border: 1px solid lightBlue;
}

body{
  background: #333;
  color: #fff;
}

.container{
  max-width: 1100px;
  margin: 0 auto;
}

header{
  background: lightBlue;
  color: #333;
  padding: 10px 0;
}

section{
  padding: 80px 0;
}

input.error:focus, input.error{
  border: 1px solid red
}
.error-block{
  position: absolute;
  color: red;
}